@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #323232;
    color: white;
}

h1 {
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    position: relative;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    border: 2px solid white;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

table {
    border-spacing: 0;
}

table tr:first-child td {
    border-top: none;
}

table tr td:first-child {
    border-left: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr td:last-child {
    border-right: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #323232;
    background-color: #00B0EF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart-button:hover {
    background-color: #007bbd;
}